@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lmqlzu');
  src:  url('fonts/icomoon.eot?lmqlzu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lmqlzu') format('truetype'),
    url('fonts/icomoon.woff?lmqlzu') format('woff'),
    url('fonts/icomoon.svg?lmqlzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-projects:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90b";
}
.icon-contact:before {
  content: "\e90d";
}
.icon-projects1:before {
  content: "\e90a";
}
.icon-skill:before {
  content: "\e908";
}
.icon-projects2:before {
  content: "\e905";
}
.icon-jobs:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-up:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-github:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
